.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: auto;
    grid-template-areas:
    "author content"
}

.container > * { 
    border-radius: 10px;
    height: calc(100vh - 18px);
} 





