.content { 
    grid-area: content;
    position: relative;
    overflow: hidden;
}

:global(.dark) .content {
    color: var(--white);
}

.content > span {
    position: absolute;
    background-color: var(--white);
    text-indent: -9999px;
}





