.container {
    width: 20%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 999;
}

@media ( width < 600px ) {
    .container {
        width: 100%;
        /* min-width: 350px; */
    }
}


