.list {
    font-size: 14px;
    color: #a5a4a4;
}

:global(.dark) .list {
    color: var(--theme-dark-sub)
}

.list > li {
    line-height: 30px;
    border-bottom: 1px solid #f0eded;
    position: relative;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}


:global(.dark) .list > li {
    border-bottom: 1px solid var(--theme-dark-sub);
}

.list > li::after {
    content: url(/images/Talk/아래화살표-회.png);
    height: 8px;
    width: 12px;
    position: absolute;
    top: 0;
    right: 10px;
}
.list > li:hover::after {
    content: url(/images/Talk/아래화살표-검.png);
}
.list > li.active {
    height: auto;
}
.list > li.active::after {
    content: url(/images/Talk/위로화살표-회.png);
    top: 0;
    
}
.list > li.active:hover::after {
    content: url(/images/Talk/위로화살표-검.png);
}

.list > li > img {
    display: block;
}

.list > li:nth-of-type(n+4) > ul {
    cursor: default;
}

.list > li > ul > li {
    color: black;
    font-weight: 600;
    font-size: 12px;
}


:global(.dark) .list > li > ul > li {
    color: var(--theme-dark-font);
}

.list > li:nth-of-type(2) > ul {
    padding-block: 10px;
    
}

.list > li:nth-of-type(2) > ul > li > div {
    align-items: center;
    display: flex;
    gap: 10px;
}

.list > li:nth-of-type(n+3) > ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 40px;
}

.list > li:nth-of-type(n+3) > ul > li::before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.list > li:nth-of-type(4) > ul > li:nth-of-type(1):before {
    background-image : url(/images/Talk/js-icon.png);
}
.list > li:nth-of-type(4) > ul > li:nth-of-type(2):before {
    background-image : url(/images/Talk/html-icon.png); 
}
.list > li:nth-of-type(4) > ul > li:nth-of-type(3):before {
    background-image : url(/images/Talk/css-icon.png); 
}
.list > li:nth-of-type(4) > ul > li:nth-of-type(4):before {
    background-image : url(/images/Talk/react-icon.png);
}
.list > li:nth-of-type(4) > ul > li:nth-of-type(5):before {
    background-image : url(/images/Talk/nextjs-icon.png); 
}
:global(.dark) .list > li:nth-of-type(4) > ul > li:nth-of-type(5):before {
    background-image : url(/images/Talk/nextjs-icon-white.png); 
}
.list > li:nth-of-type(4) > ul > li:nth-of-type(6):before {
    background-image : url(/images/Talk/expressjs-icon.png); 
}

.list > li:nth-of-type(5) > ul > li:nth-of-type(1):before {
    background-image : url(/images/Talk/postgresql-icon.png);
}
:global(.dark) .list > li:nth-of-type(5) > ul > li:nth-of-type(1):before {
    background-image : url(/images/Talk/postgresql-icon-white.png);
}
.list > li:nth-of-type(5) > ul > li:nth-of-type(2):before {
    background-image : url(/images/Talk/mongoDb-icon.png); 
}
.list > li:nth-of-type(5) > ul > li:nth-of-type(3):before {
    background-image : url(/images/Talk/redis-icon.png); 
}
.list > li:nth-of-type(5) > ul > li:nth-of-type(4):before {
    background-image : url(/images/Talk/aws-icon.png);
}
.list > li:nth-of-type(5) > ul > li:nth-of-type(5):before {
    background-image : url(/images/Talk/prisma-icon.png); 
}
