.content {
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 10px;
    min-width: 280px;
    width: 100%;
    background-color: var(--white);
}

:global(.dark) .content {
    background-color: var(--theme-dark-content);
    color :var(--theme-dark-font);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
    margin-bottom: 10px;
}
.title > p {
    font-size: 18px;
    font-weight: 600;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f0eded ;
    position: relative;
}

.profile > img {
    width: 55px;
    height: 55px;
    border-radius: 21px;
    cursor: pointer;
}

:global(.dark) .profile {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--theme-dark-sub) ;
}

.windowButtons {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-bottom: 30px;
}
.windowButtons > button {
    cursor: pointer;
    width: 13px;
    height: 13px;
    font-size: 0.1px;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
}


.windowButtons > button:nth-of-type(1){
    background-image: url(/images/Talk/닫기-회.png);
}
.windowButtons > button:nth-of-type(1):hover{
    background-image: url(/images/Talk/닫기-검.png);
}