
.container {
    position: fixed; 
    z-index: 9999;
    top: 50%; 
    left: 59%; 
    transform: translate(-50%, -50%); 
    width: 1100px;
    height: 700px;
    text-indent: -9999px;
    background-color: var(--white);
    border-radius: 8px;
    overflow-y: scroll;
    min-width: 350px;
}

.container.guestBook {
    position: fixed; 
    z-index: 9999;
    top: 50%; 
    left: 59%; 
    transform: translate(-50%, -50%); 
    width: 350px;
    height: 700px;
    text-indent: -9999px;
    background-color: var(--white);
    border-radius: 8px;
    overflow-y: hidden;
}

.container > div:nth-of-type(2){
    padding-inline: 50px;
    padding-block: 20px;
    text-indent: 0;
}

.container.guestBook > div:nth-of-type(2){
    padding-block: 20px;
    padding-inline: 0px;
    text-indent: 0;
}


:global(.dark) .container {
    background-color: var(--theme-dark-content);
    color: white;
}

.header {
    padding-block: 4px;
    background-color: #bacee0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    z-index: 9999;
    top: 0;
    width: 100%;
}

:global(.dark) .header {
    background-color: var(--light-gray);
}

.header > button { 
    width: 18px;
    height: 18px;
    margin-right: 15px;
    text-indent: -9999px;
    background : url(/images/Talk/profile-popip-x-검.png) no-repeat center / contain ;
    cursor: pointer;
}


@media ( width < 1350px ) {
    .container {
        position: fixed; 
        z-index: 9999;
        width: 100vw;
        left: 50%;
        top: 50%; 
        right: 0;
        width: 100vw;
        height: 100vh;
        text-indent: -9999px;
        background-color: var(--white);
        min-width: none;
    }
    .container > div:nth-of-type(2){
        padding-inline: 20px;
        padding-block: 20px;
        text-indent: 0;
    }
}

@media ( width < 600px ) {
    .container.guestBook {
        position: fixed; 
        z-index: 9999;
        width: 100vw;
        left: 50%;
        top: 50%; 
        width: 100vw;
        min-width: 350px;
        height: 100vh;
        text-indent: -9999px;
        background-color: var(--white);
    }
}