.nav {
    background-color: #f8ecec;
    min-width: 70px;
    padding-top: 80px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:global(.dark) .nav {
    background-color: var(--theme-dark-sub);
}

.nav > ul > li {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.nav > ul > li > img , .nav > ul > li > a > img  {
    width: 35px;
}

.nav > ul > li > span {
    width: 25px;
    height: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: -8px;
    border-radius: 8px;
    background-color: rgb(240, 88, 111);
}

:global(.dark) .nav > ul > li > span {
    background-color: var(--theme-dark);
}