.themeButton {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.themeButton > button {
    cursor: pointer;
    width: 100px;
    height: 50px;
    text-indent: -9999px;
    background: url(/images/Talk/스위치라이트.png) no-repeat center / auto;
}

.themeButton > button::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: url(/images/Talk/sun.png) no-repeat center / cover;
    top: 50%;
    left: 30px;
    transform: translate( 0% , -50%);
}

.themeButton > button::after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: url(/images/Talk/moon.png) no-repeat center / cover;    
    top: 50%;
    right: 30px;
    transform: translate( 0% , -50%);
}

 .themeButton > button.active {
    background-image : url(/images/Talk/스위치다크.png);
}